@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
    &__grid {
        @include m.contenedor-sm;
        @include m.grid(1, 5rem);
    }
}

.boleto { 
    width: min(100% - 5rem, 65rem);
    padding: 3em;
    border-radius: 2rem;
    color: v.$blanco;
    height: min(100% ,65rem);
    position: relative;


    &::before,
    &::after {
        width: 5rem;
        height: 5rem;
        content: '';
        background-color: v.$blanco;
        position: absolute;  
        top: calc(50% - 2.5rem);
    }

    &::before {
        clip-path: circle(50% at 25% 50%);
        left: 0;
    }

    &::after {
        clip-path: circle(50% at 75% 50%);
        right: 0;
    }


    &__logo {
        @include m.logo; 
        & {
            font-size: 4rem; 
        }
        
    }

    &__texto {
        font-size: 2.2rem;
    }

    &__precio {
        font-size: 2.8rem;
        font-weight: v.$bold;
    }

    &--presencial {
        background-color:hsla(178,100%,39%,1);
        background-image:
        radial-gradient(at 45% 13%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 53% 59%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 59% 80%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 63% 23%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 17% 68%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 72% 33%, hsla(209,100%,47%,1) 0px, transparent 50%);
    }

    &--virtual {
        background-color: v.$secundario;
    }

    &--gratis {
        background-color: v.$azul;
    }

    &__enlace-contenedor{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    &__enlace {
        @include m.boton(v.$azul, v.$blanco); 
        width: auto;
    }
}