@use 'base/variables' as v;
@use 'base/mixins' as m;

.agenda {
    @include m.contenedor

}

.evento {
    &__heading {
        color: v.$azul;
        font-weight: v.$black;
        font-size: 5rem;
        text-align: left;
    }
}