@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__campo {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__label {
        font-size: 2rem;
    }

    &__input {
        padding: 1rem;
        flex: 1;
        font-size: 1.6rem;
        border: 1px solid #e1e1e1;
        border-radius: .5rem;
    }

    &__submit {
        @include m.boton(v.$azul, #fff);
    }
}

.acciones {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;

    &__enlace {
        color: v.$azul;
        font-size: 1.8rem;
        font-weight: v.$delgada;
    }
}